body{
    background-color: var(--background);
    font-family: var(--fonte-principal);
    font-weight: 800;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-advice-generator{
    background-color: var(--advice-card-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 20px;
    border-radius: 10px;
}

.advice-number{
    color: var(--advice-dice-color);
    padding: 30px 10px;
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.advice-text{
    color: var(--text-fonts);
    padding: 23px;
    font-size: 2.2rem;
    text-align: center;
}

.image-pattern{
    text-align: center;
}

.image-pattern img{
    width: 75%;
}

.image-dice{
    background-color: var(--advice-dice-color);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    transform: translateY(50%);
    cursor: pointer;
}

.image-dice:hover{
    box-shadow: 1px 1px 20px 20px #52ffa921;
}